#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;
}

#scoreText{
    font-family: "consolas", monospace;
    font-size: 50px;
}

#resetBtn ,#pauseBtn{
    font-family: "Permanent Marker", cursive;
    /* font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer; */
}

.wrap-text {
    word-wrap: break-word;
  }

  #dropDownToIncreaseWidth{
    padding-right: 100px;
    font-weight: bold;
  }
  #navbarBrand{
    font-weight: bold;
  }

#instructionPara{
    color: rgb(46, 15, 15);
    font-style: italic;
    padding-left: 6px;
}